.form {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    &__title {
        font-size: 1.25em;
        margin-bottom: 15px;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
    }
    &__field {
        width: 100%;
        margin-top: 15px;
        &--half {
            width: 48%;
        }
    }
    label {
        margin-bottom: 5px;
        display: block;
        font-size: 14px;
        color: #999;
    }
    input {
        @include border-radius(2px);
        @include tran();
        @include border();
        display: block;
        width: 100%;
        height: 42px;
        line-height: normal;
        padding: 0 15px;
        &:hover {
            border-color: #bbb;
        }
        &:focus {
            border-color: $primary;
            @include shadow;
        }
        &.invalid {
            border-color: $invalid;
        }
    }
    .g-btn {
        width: 100%;
    }
}