// colors

$primary: #6e00a5;
$invalid: #f20;

// adaptive breakpoints
$grid-l: 1240px;
$grid-lm: 1140px;
$grid-ls: 992px;
$grid-sl: 768px;
$grid-sm: 480px;
$grid-s: 320px;

@mixin shadow() {
    box-shadow: 0 2px 16px rgba(#000, .08);
}

@mixin border($width: 1px, $color: #eee) {
    border: $width solid $color;
}

@mixin border-radius($radius: 3px) {
    border-radius: $radius;
}

@mixin tran() {
    transition: .2s;
}

@mixin max-screen($max) {
    @media screen and (max-width: $max) {
        @content;
    }
}

@mixin min-screen($min) {
    @media screen and (min-width: $min + 1px) {
        @content;
    }
}

