body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    box-sizing: border-box;
    padding-top: 100px;
}

body * {
    box-sizing: inherit;
    &:before, &:after {
        box-sizing: inherit;
    }
    &:focus {
        outline: none;
    }
}

.g-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 42px;
    line-height: normal;
    text-align: center;
    border: 0;
    background-color: #888;
    color: #fff;
    border-radius: 2px;
    text-decoration: none;
    @include tran;
    &:hover {
        @include shadow;
        background-color: darken(#888, 10);
    }
    &--primary {
        background-color: $primary;
        &:hover {
            background-color: darken($primary, 10);
        }
    }
    &--cancel {
        background-color: #f20;
        &:hover {
            background-color: darken(#f20, 10);
        }
    }
    &[disabled] {
        opacity: .5;
        pointer-events: none;
    }

}


.--loading {
    &:before {
        z-index: 2;
        background-color: rgba(#fff, .5);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &:after {
        content: "";
        display: block;
        width: 46px;
        height: 46px;
        margin-left: -23px;
        margin-top: -23px;
        border-radius: 50%;
        border: 5px solid $primary;
        border-color: $primary transparent $primary transparent;
        animation: lds-dual-ring 1.2s linear infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 3;
    }
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}