<template>
    <div class="rabbit-list">
        <RabbitItem v-for="(rabbit, index) in list" :key="index" :data="rabbit"></RabbitItem>
    </div>
</template>

<script>
    import store from '@/store';
    import RabbitItem from '@/components/RabbitItem';

    export default {
        computed: {
            list: () => {
                return store.getters['rabbits/list'];
            }
        },
        name: "RabbitList",
        components: {
            RabbitItem: RabbitItem
        }
    }
</script>

<style scoped lang="scss">
    .rabbit-list {
        width: calc(100% + 20px);
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }
</style>