<template>
    <div class="rabbit">
        <div class="rabbit__name">Имя: <span>{{data.name}}</span></div>
        <div class="rabbit__weight">Вес: <span>{{data.weight}} кг.</span></div>
        <div class="rabbit__controls">
            <button class="g-btn" @click="edit(data.id)">Редактировать</button>
            <button class="g-btn g-btn--cancel" @click="remove(data.id)">×</button>
        </div>
    </div>
</template>

<script>
    import store from '@/store';
    import router from '@/router';

    export default {
        name: "RabbitItem",
        props: ['data'],
        methods: {
            remove(id) {
                store.dispatch('rabbits/deleteRabbit', {
                    id: id
                });
            },
            edit(id) {
                router.push({ name: 'rabbit-edit', params: { id: id } });
            }
        }
    }
</script>

<style scoped lang="scss">
    .rabbit {
        @include border();
        @include border-radius();
        @include shadow();
        width: calc(25% - 20px);
        margin: 0 10px 20px;
        padding: 1em .5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        transition: .2s;
        @include max-screen($grid-ls) {
            width: calc(50% - 20px);
        }
        @include max-screen($grid-sm) {
            width: calc(100% - 20px);
        }
        &__name, &__weight {
            margin-bottom: 10px;
            color: #999;
            span {
                color: $primary;
            }
        }
        &__weight {
            span {
                color: #333;
            }
        }
        &__controls {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            opacity: .8;
            @include tran;
            button {
                margin: 5px;
                font-size: .8em;
                height: 30px;
            }
        }
        &:hover {
            .rabbit__controls {
                opacity: 1;
            }
        }
    }
</style>