<template>
    <div class="rabbit-add">
        <form class="form" @submit.prevent="add">
            <div class="form__field form__field--half">
                <label>Имя:</label>
                <input type="text" placeholder="Имя" v-model="item.name" :class="{ 'invalid' : validator.name }" required>
            </div>
            <div class="form__field form__field--half">
                <label>Вес:</label>
                <input type="text" placeholder="Вес" v-model="item.weight" :class="{ 'invalid' : validator.weight }" required>
            </div>
            <div class="form__field">
                <button type="submit" class="g-btn g-btn--primary">Добавить</button>
            </div>
        </form>
    </div>
</template>

<script>
    import store from '@/store';

    export default {
        data(){
            return {
                item: {
                    name: '',
                    weight: 0,
                },
                validator: {
                    name: false,
                    weight: false
                }
            }
        },
        name: "RabbitAdd",
        methods: {
            add() {
                this.isValid();
                if (!this.validator.name && !this.validator.weight) {
                    store.dispatch('rabbits/addRabbit', {
                        item: this.item
                    });
                }
            },
            isValid() {
                this.validator.name = this.item.name.length === 0;
                if (!isNaN(this.item.weight) && this.item.weight > 0) {
                    this.validator.weight = false;
                } else {
                    this.validator.weight = true;
                }
            },
        }
    }
</script>

<style scoped lang="scss">
    .rabbit-add {
        width: 500px;
        max-width: 100%;
    }
</style>