<template>
    <div class="rabbit-edit">
        <form class="form" @submit.prevent="save" @change="change">
            <div class="form__field form__field--half">
                <label>Имя:</label>
                <input type="text" placeholder="Имя" v-model="item.name" :class="{ 'invalid' : validator.name }" required>
            </div>
            <div class="form__field form__field--half">
                <label>Вес:</label>
                <input type="text" placeholder="Вес" v-model="item.weight" :class="{ 'invalid' : validator.weight }" required>
            </div>
            <div class="form__field">
                <button type="submit" class="g-btn g-btn--primary" :disabled="!isChanged">Сохранить</button>
            </div>
        </form>
    </div>
</template>

<script>
    import store from '@/store';

    export default {
        data() {
            return {
                isChanged: false,
                id: parseInt(this.$route.params.id),
                validator: {
                    name: false,
                    weight: false,
                },
            }
        },
        computed: {
            item:(context) => {
                const rabbits = store.getters['rabbits/list'];
                if (rabbits.length > 0) {
                    const index = rabbits.map(rabbit => rabbit.id).indexOf(context.id);
                    return {...rabbits[index]};
                } else {
                    return {};
                }
            },
        },
        name: "RabbitEdit",
        methods: {
            change() {
                this.isChanged = true;
            },
            save() {
                this.isValid();
                if (!this.validator.name && !this.validator.weight) {
                    store.dispatch('rabbits/editRabbit', {
                        item: this.item
                    });
                    this.isChanged = false;
                }
            },
            isValid() {
                this.validator.name = this.item.name.length === 0;
                if (!isNaN(this.item.weight) && this.item.weight > 0) {
                    this.validator.weight = false;
                } else {
                    this.validator.weight = true;
                }
            },
        }
    }
</script>

<style scoped lang="scss">
    .rabbit-edit {
        width: 500px;
        max-width: 100%;
    }
</style>