<template>
    <div class="user" :class="[ isLoad ? '--loading' : '' ]">
        <form class="form" @submit.prevent="login" @change="isValid">
            <div class="form__title">Авторизация</div>
            <div class="form__field">
                <input type="text" placeholder="Логин" v-model="username" :class="{ 'invalid' : validator.username }">
            </div>
            <div class="form__field">
                <input type="password" placeholder="Пароль" v-model="password" :class="{ 'invalid' : validator.password }">
            </div>
            <div class="form__field">
                <button type="submit" class="g-btn g-btn--primary">Войти</button>
            </div>
        </form>
    </div>
</template>

<script>
    import store from '@/store';

    export default {
        data() {
            return {
                isLoad: false,
                username: '',
                password: '',
                validator: {
                    username: false,
                    password: false,
                }
            }
        },
        computed: {
        },
        name: "UserAuth",
        methods: {
            async login() {
                this.isLoad = true;
                this.isValid();
                if (!this.validator.username && !this.validator.password) {
                    await store.dispatch({
                        type: 'user/login',
                        username: this.username,
                        password: this.password
                    }).then(() => {
                        this.isLoad = false;
                    }).catch((response) => {
                        this.isLoad = false;
                        if (response.status === 401) {
                            this.validator.username = true;
                            this.validator.password = true;
                        }
                    });
                }
            },
            isValid() {
                this.validator.username = this.username.length === 0;
                this.validator.password = this.password.length === 0;
            },
        }
    }
</script>

<style scoped lang="scss">
    .user {
        position: relative;
        margin: 0 auto;
        width: 400px;
        max-width: 100%;
        padding: 25px;
        @include border();
        @include shadow();
        @include border-radius();
    }
</style>