<template>
    <div class="user-panel">
        <div class="user-panel__name">Добро пожаловать, <span>{{ details.username }}</span></div>
        <div class="user-panel__controls">
            <button class="g-btn g-btn--cancel" @click="logout">Выход</button>
        </div>
    </div>
</template>

<script>
    import store from '@/store';
    export default {
        name: "UserPanel",
        computed: {
            details: () => {
                return store.getters['user/details'];
            }
        },
        methods: {
            logout() {
                store.commit({
                    type: 'user/logout',
                });
            }
        }
    }
</script>

<style scoped lang="scss">
    .user-panel {
        display: flex;
        align-items: center;
        @include max-screen($grid-ls) {
            order: -1;
            margin-bottom: 15px;
        }
        &__name {
            color: #999;
            margin-right: 15px;
            font-size: 14px;
            span {
                color: $primary;
            }
        }
        &__controls {
            .g-btn {
                height: 30px;
            }
        }
    }
</style>