<template>
    <div id="app" class="layout">
        <template v-if="isLogin">
            <div class="header">
                <div class="nav">
                    <router-link to="/">Список кроликов</router-link>
                    <router-link to="/rabbit/add">Добавить кролика</router-link>
                </div>
                <UserPanel/>
            </div>
            <router-view/>
        </template>
        <template v-else>
            <UserAuth/>
        </template>
    </div>
</template>

<style lang="scss">
    @import "styles/main";
    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
        border-bottom: 1px solid #ccc;
        @include max-screen($grid-ls) {
            flex-direction: column;
            align-items: center;
        }
    }
    .nav {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        a {
            text-align: center;
            color: $primary;
            padding: .5em 1em;
            text-decoration: none;
            border-bottom: 2px solid transparent;
            margin-bottom: -2px;
            @include tran;
            @include max-screen($grid-sm) {
                font-size: 14px;
            }
            &:hover {
                border-color: rgba($primary, .3);
            }
            &.router-link-exact-active {
                border-color: $primary;
            }
        }
    }
</style>

<script>
    import store from '@/store';
    import UserAuth from '@/components/UserAuth'
    import UserPanel from '@/components/UserPanel'
    export default {
        name: 'App',
        computed: {
            isLogin: () => {
                return store.getters['user/isLogin'];
            },
            username: () => {
                return store.getters['user/username'];
            }
        },
        components: {
            UserAuth,
            UserPanel
        },
        mounted() {
            if (localStorage.token) {
                store.commit('user/isLogin', {
                    token: localStorage.token,
                    isLogin: true,
                    details: JSON.parse(atob(localStorage.token.split('.')[1]))
                });
            }
        }
    }
</script>
